@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, div, ul, li{
	margin:0;
	padding:0;
}


body{
	font-family:Verdana,Geneva,sans-serif;
	background-color:#000;
}

#divWrapper{
	width:700px;
	margin:20 auto;
}

#divHeader{
	width:700px;
	background:url(images/header-bg.jpg);
	text-align:center;
}

#divHeader img{
	padding-top:20px;
	padding-bottom:20px;

}
#divLine{
	width:700px;
	background:#999;
	height:1px;

}

#divLinks{

	width:700px;
	background:#666;
	
}

#divNav{
	width:384px;
	background:#666;
	height:36px;
	margin:0 auto;
	
}	

#divNav ul{
	list-style-type:none;
}

#divNav ul li{
	float:left;
}

#divNav ul li a{
	display:block;
	height:20px;
	line-height:20px;
	background:#000;
	width:110px;
	font-size:0.8em;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	margin:7px;
	border-radius:5px;
	border:1px solid #000;
	-webkit-border-radius:5px;
	background:-webkit-gradient(linear,left top,left bottom, from(#666), to(#333));
	}
	
	
#divNav ul li a:hover{
	background:#333;
	background:-webkit-gradient(linear,left top,left bottom, from(#000), to(#666));
	
}


#divNav ul li a.current,#divNav ul li a.current:hover{
	background:#333;
	background:-webkit-gradient(linear,left top,left bottom, from(#000), to(#666));
	color:#f63;
	cursor:default;
}	

#divAbout {
	width:700px;
	background:#333;
	padding-top:60px;
	padding-bottom:60px;
}

#divContent{
	width:430px;
	margin:0 auto;
	background:#222;
	border:1px solid #000;
	background:-webkit-gradient(linear,left top,left bottom, from(#666), to(#222),color-stop(0.5,#333));
	border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
}
#divContent img{
	float:left;
	border:1px solid #000;
	background:#333;
	padding:16px;
	margin:0.7em;
	background:-webkit-gradient(linear,left top,left bottom, from(#000), to(#333));
	border-radius:15px;
	-webkit-border-radius:15px;

}

#divContent h5{
	color:#FFF;
	padding-top:0.8em;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	
}

#divContent p{
		font-size:1em;
		color:#999;
		padding:0.7em;
		line-height:1.4em;
		}
		
#divFooter{

	background:#222;
	height:10px;
	width:700px;
	border-bottom:1px solid #333;
	
}		